<div class=" md:m-10">
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-3 max-w-4xl" role="alert" *ngIf="requiredError">
  <strong class="font-bold">ERROR!</strong>
  <span class="block sm:inline"> All fields are required, please select the options below and try again!.</span>
</div>

<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-3 max-w-4xl" role="alert" *ngIf="notSupportingCashOnDelivery">
  <strong class="font-bold">Sorry!</strong>
  <span class="block sm:inline"> Currently cash on delivery is not supporting from delivery from {{order.cityFrom.cityName}} to {{order.cityTo.cityName}}
    , only inside Riyadh.</span>
</div>

  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-3 max-w-4xl" role="alert" *ngIf="mustSelectOneError">
    <strong class="font-bold">ERROR!</strong>
    <span class="block sm:inline"> You must select one of the shippers below.</span>
  </div>

<form class="" name="editForm"
      novalidate
      #editForm="ngForm">
  <div class="max-w-4xl bg-gray-200 md:p-16 justify-center">
    <div class="w-full max-w-full justify-center" *ngIf="showFirstStep">

    <div class="flex flex-wrap -mx-4 ">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
    <!--    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="cityFrom">From</label>-->
        <div class="relative">
          <select id="cityFrom" [(ngModel)]="order.cityFrom" (change)="cityFromChanged(order.cityFrom)" required
                  name="cityFrom"
                  class="block tracking-wide appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" >
            <option [ngValue]="null" selected disabled>From City</option>
            <option *ngFor="let city of senderCities" [ngValue]="city" >
              {{city.cityName}}
            </option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>


      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
    <!--    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="cityTo">To</label>-->
        <div class="relative">
          <select id="cityTo" [(ngModel)]="order.cityTo" name="cityTo" required (change)="cityToChanged()"
                  class="block tracking-wide appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
            <option [ngValue]="null" selected disabled>To City</option>
            <option *ngFor="let city of citiesTo" [ngValue]="city" >
              {{city.cityName}}
            </option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-6 md:mb-0">
          <div class="w-full my-2 md:mb-0">
            <label class="text-orange ">Are their collection of money ?</label>
            <div class="flex flex-wrap -mx-1 mt-1">
              <!--class="w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-white p-3 rounded-l-md items-center text-center cursor-pointer"-->
              <div [className]="order.paymentMethod === cashOnDelivery ? 'w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-orange-light p-3 rounded-l-md items-center text-center cursor-pointer' :
                  'w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-white p-3 rounded-l-md items-center text-center cursor-pointer'"
                (click)="changePaymentMethod(cashOnDelivery)">
                <span [className]="order.paymentMethod === cashOnDelivery ? 'align-middle tracking-wide text-white cursor-pointer'
                : 'align-middle tracking-wide text-orange cursor-pointer'">Cash on Delivery</span>
              </div>
              <div [className]="order.paymentMethod === prepaid ? 'w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-orange-light p-3 rounded-r-md items-center text-center cursor-pointer' :
                  'w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-white p-3 rounded-r-md items-center text-center cursor-pointer'"
                   (click)="changePaymentMethod(prepaid)">
                <span [className]="order.paymentMethod === prepaid ? 'align-middle tracking-wide text-white cursor-pointer'
                : 'align-middle tracking-wide text-orange cursor-pointer'">Prepaid</span>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 px-4 mb-6 md:mb-0">
          <div class="w-full my-2 md:mb-0">
            <label class="text-orange">Cost of shipping fees on</label>
            <!-- CHANGES HERE START-->
            <div class="flex flex-wrap -mx-1 mt-1">
              <div [className]="order.costOfShippingOn === store ? 'w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-orange-light p-3 rounded-l-md items-center text-center cursor-pointer' :
                  'w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-white p-3 rounded-l-md items-center text-center cursor-pointer'"
                   (click)="changeCostOfFeeOn(store)">
                <span [className]="order.costOfShippingOn === store ? 'align-middle tracking-wide text-white cursor-pointer'
                : 'align-middle tracking-wide text-orange cursor-pointer'">Store</span>
              </div>
              <div [className]="order.costOfShippingOn === recipient ? 'w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-orange-light p-3 rounded-r-md items-center text-center cursor-pointer' :
                  'w-full md:w-1/2 px-4 mb-6 md:mb-0 bg-white p-3 rounded-r-md items-center text-center cursor-pointer'"
                   (click)="changeCostOfFeeOn(recipient)" >
                <span [className]="order.costOfShippingOn === recipient ? 'align-middle tracking-wide text-white cursor-pointer'
                : 'align-middle tracking-wide text-orange cursor-pointer'">Recipient</span>
              </div>
            </div>
            <!-- CHANGES HERE END-->
          </div>
        </div>
      </div>
    </div>
    <div class="w-full max-w-full justify-center" *ngIf="showSecondStep">
      <ul class="p-0  d-flex flex-wrap flex-column flex-md-row justify-content-between my-0 mb-5 my-md-5">
        <li *ngFor="let shipper of shipperServices" class="mr-3 mb-3 bg-white my-3 p-2 rounded-md">
          <span class="text-orange-light text-xl font-bold px-3">{{shipper.service.basePrice}} SAR</span>
          <img [src]="shipper.shipper.logoUrl" class="h-24 w-24 object-contain inline-block pr-3 mx-4 "/>
          <div class="m-0 p-0 inline-grid">
            <span class=" font-bold text-lg table-header-group font-bold text-lg">{{shipper.shipper.shipperName}} - {{shipper.service.serviceName }}</span>
            <span class="text-gray-600 text-sm -mt-1"><fa-icon [icon]="shippingIcon"></fa-icon> {{shipper.service.shippingDays}}</span>
          </div>

          <div class="justify-end flex cursor-pointer" (click)="showServiceDetails(shipper.service)">
            <span class="text-xs text-gray-600">Details <fa-icon [icon]="downIcon"></fa-icon></span>
          </div>
          <div [className]="shipper.service.showDetails ? 'block mt-5' : 'hidden'">
            <hr />
            <div class="p-4">
              <span>{{shipper.service.details}}</span>
            </div>
            <div class="max-w-4xl justify-end flex cursor-pointer" (click)="pickService(shipper)">
              <span
                [className]="order.shipperService && order.shipperService.id === shipper.service.id
                ? 'block bg-gradient-orange text-white my-3 py-3 px-20 rounded cursor-pointer'
                : 'block bg-gray-600 hover:bg-gray-700 text-white my-3 py-3 px-20 rounded cursor-pointer'"
                >Choose this</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="w-full max-w-full justify-center" *ngIf="showConfirmationDetails">
      <div class="md:flex flex-wrap -mb-4">
        <div class="md:w-1/2 mb-4 bg-gray-100 h-12 flex rounded-lg">
          <span class="font-bold text-orange-dark p-3 mr-2">From: </span> <span class="text-orange py-3">{{order.cityFrom.cityName}}</span>
        </div>
        <div class="md:w-1/2 mb-4 bg-gray-100 h-12 flex rounded-lg">
          <span class="font-bold text-orange-dark p-3 mr-2">To: </span> <span class="text-orange py-3">{{order.cityTo.cityName}}</span>
        </div>
      </div>
      <div class="md:flex flex-wrap -mb-4 mt-1">
        <div class="md:w-1/2 mb-4 bg-gray-100 h-12 flex rounded-lg">
          <span class="font-bold text-orange-dark p-3 mr-2">Payment method: </span> <span class="text-orange py-3">{{order.paymentMethod}}</span>
        </div>
        <div class="md:w-1/2 mb-4 bg-gray-100 h-12 flex rounded-lg">
          <span class="font-bold text-orange-dark p-3 mr-2">Shipping Fees on: </span> <span class="text-orange py-3">{{order.costOfShippingOn}}</span>
        </div>
      </div>
      <div class="md:flex flex-wrap -mb-4 mt-1">
        <div class="md:w-1/2 mb-4 bg-gray-100 h-12 flex rounded-lg">
          <span class="font-bold text-orange-dark p-3 mr-2">Shipping Service: </span> <span class="text-orange py-3">{{selectedShipper.shipperName }} - {{order.shipperService.serviceName}}</span>
        </div>
      </div>

    </div>

    <div class="w-full max-w-full justify-center" *ngIf="showSuccessPage">
      <div role="alert">
        <div class="bg-green-700 text-white font-bold rounded-t px-4 py-2">
          Congrats!
        </div>
        <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
          <p>Your order has been submitted successfully.</p>
          <div class="md:flex mb-4">
            <div class="md:w-1/2 bg-white rounded h-12 p-3 mt-1 bg-opacity-75">
              <label class="mr-1 font-medium text-orange-light">ID: </label>
              <span class="text-orange-dark">{{order.id}}</span>
            </div>
            <div class="md:w-1/2 bg-white rounded h-12 p-3 mt-1 bg-opacity-75">
              <label class="mr-1 font-medium text-orange-light">FROM: </label>
              <span class="text-orange-dark">{{order.cityFrom.cityName}}</span>
            </div>
          </div>
          <div class="md:flex mb-4">
            <div class="md:w-1/2 bg-white rounded h-12 p-3 mt-1 bg-opacity-75">
              <label class="mr-1 font-medium text-orange-light">TO: </label>
              <span class="text-orange-dark">{{order.cityTo.cityName}}</span>
            </div>
            <div class="md:w-1/2 bg-white rounded h-12 p-3 mt-1 bg-opacity-75">
              <label class="mr-1 font-medium text-orange-light">Shipping fee: </label>
              <span class="text-orange-dark">{{order.shipperService.basePrice}} SAR</span>
            </div>
          </div>
          <div class="md:flex mb-4">
            <div class="md:w-1/2 bg-white rounded h-12 p-3 mt-1 bg-opacity-75">
              <label class="mr-1 font-medium text-orange-light">Shipper: </label>
              <span class="text-orange-dark">{{selectedShipper.shipperName}}</span>
            </div>
            <div class="md:w-1/2 bg-white rounded h-12 p-3 mt-1 bg-opacity-75">
              <label class="mr-1 font-medium text-orange-light">Expectated Delivery: </label>
              <span class="text-orange-dark">{{order.shipperService.shippingDays}}</span>
            </div>
          </div>
          <div class="md:flex mb-4">
            <div class="md:w-1/2 bg-white rounded h-12 p-3 mt-1 bg-opacity-75">
              <label class="mr-1 font-medium text-orange-light">Service Name: </label>
              <span class="text-orange-dark">{{order.shipperService.serviceName}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="max-w-4xl justify-end flex " *ngIf="showFirstStep">
    <button (click)="goNextFromFirstStep()"

            class="block bg-gradient-orange hover:bg-gradient-orange-secondary text-white my-3 py-3 px-20 rounded">Next</button>
  </div>
  <div class="max-w-4xl justify-end flex " *ngIf="showSecondStep">
    <button (click)="goNextFromSecondPage()" class="block bg-gradient-orange hover:bg-gradient-orange-secondary text-white my-3 py-3 px-20 rounded">Next</button>
  </div>
  <div class="max-w-4xl justify-end flex " *ngIf="showConfirmationDetails">
    <button (click)="submit()" class="block bg-gradient-orange hover:bg-gradient-orange-secondary text-white my-3 py-3 px-20 rounded">Submit</button>
  </div>
</form>
</div>
