/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Lato', sans-serif !important;
}

input:checked + label {
  background-color: LightSeaGreen;
  color: white;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
